body{
  background-color: var(--color-primary);
  font-family: 'Tagesschrift', cursive;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--color-primary);
}