/* src/Components/menu/PizzaList.module.css */

.pizza-list-container {
    
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    gap: 20px; 
    padding: 20px; 
    justify-items: center; 
    align-items: start; 
    border: 1px solid red;
  
    /* Puedes añadir otros estilos como un fondo, borde, etc. al contenedor de la lista */
    /* background-color: #f8f8f8; */
    /* border-top: 1px solid #eee; */
  }